$app-bg: #ffffff
$quote-bg: #e6e6e6
$decrease: #c56e6e
$increase: #70a87f


#Homepage
    height:100vh
    margin: auto
    background: $app-bg
    text-align: center
 
#timer-display
    font-family: 'Roboto Mono', monospace
    font-size: 60px

.dark-mode
    #Focus-page
        background: #202020
        color: white
    .press
        color: white
    .press:hover
        color: white
        text-shadow: 2px 3px 5px #d3d3d3ab
    .quote-widget
        color: black
        background: #e6e6e6c7

.quote-widget
    position: relative
    width: 40%
    height: auto
    margin: auto
    padding-left: 5%
    padding-right: 5%
    padding-top: 1%
    padding-bottom: 0.5%
    background: $quote-bg
    border-radius: 100px

.space
    padding-top: 2%

.timer-widget
    width: 30%
    margin: auto
    height: 40%
    padding-top: 1%
    
table
    margin: auto
    width: 47%

h2:hover
    cursor: pointer

.increase 
    background: $increase
    border: 0

.increase:hover
    background: #51775b

.decrease
    background: $decrease
    border: 0

.decrease:hover
    background: #945252

.together
    display: inline-flex
    margin: 0

.left,.right
    padding: 10%

.press
    font-size: 20px
    display: block
    background: none
    color: black
    border:0

.press:hover
    @extend .press
    color: black
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5)
    
.press:focus, .press:active
    @extend .press
    
.toggle-theme
    @extend .press
    margin: auto
    font-size: 30px

.toggle-theme:hover
    @extend .toggle-theme
    


